* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 1em 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    margin-right: 6em;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-right {
    padding-right: 10em;
}

.nav-left ul li {
    list-style: none;
    display: inline-block;
}

.nav-left ul li img {
    width: 28px;
    margin: 0 15px;
}

.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.search-box input {
    color: black;
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    padding: 0.9em;
}

.container2 {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar {
    margin-top: 2em;
    flex-basis: 25%;
    position: flex;
    top: 16em;
    align-self: flex-start;
}

.right-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 16em;
    align-self: flex-start;
}

.main-content {
    flex-basis: 51%;
    margin-top: 4em;
}

.glavni {
    background-color: #efefef;
}

.imp-links a,
.shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 2.3em;
    color: #626262;
    width: fit-content;
}

.imp-links a img {
    width: 2em;
    margin-right: 1em;
}

.imp-links .chosen {
    color: #1876f2;
}

.imp-links {
    border-bottom: 1px solid #ccc;
}

.shortcut-links a img {
    width: 4em;
    border-radius: 1em;
    margin-right: 1.5em;
}

.shortcut-links p {
    margin: 1.8em 0;
    color: #626262;
    font-weight: 500;
}

.post-input-container {
    padding-left: 2em;
    padding-top: 2em;
}

.post-input-container textarea {
    color: black;
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    resize: none;
}

.add-post-links {
    display: flex;
    margin-top: 2em;
}

.add-post-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 5em;
    font-size: 0.8em;
}

.add-post-links a img {
    width: 2em;
    margin-right: 1em;
}

.write-post-container {
    width: 96%;
    background: #fff;
    border-radius: 1em;
    padding: 20px;
    color: #626262;
}

.post-container {
    width: 93%;
    background: #fff;
    border-radius: 1em;
    padding: 2em;
    color: #626262;
    margin: 20px 0;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile p {
    margin-bottom: 0.1em;
    color: #626262;
    font-size: 1.2em;
    font-weight: 500;
}

.user-profile small {
    font-size: 0.8em;
    color: #9a9a9a;
}

.user-profile span {
    font-size: 0.9em;
    color: #9a9a9a;
}

.post-text {
    color: #9a9a9a;
    font-weight: 500;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.post-text span {
    color: #626262;
    font-weight: 500;
}

.post-img {
    width: 95%;
    border-radius: 4px;
    margin-bottom: 1em;
}

.logout {
    background-color: #1876f2;
    color: white;
    border: 0.1em solid white;
    border-radius: 0.8em;
    cursor: pointer;
    padding: 0.6em;
    font-size: 1.2em;
}

.noUnderline {
    text-decoration: none;
}

.headline {
    color: black;
    text-align: center;
    padding-top: 2em;
    font: large;
}

.labels {
    color: black;
    font-size: 1.3em;
}

.button-create {
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 2em;
    padding: 1em 1em;
    border-radius: 3em;
    margin-left: 55em;
    background-color: #1876f2;
}

.text-input {
    margin-top: 1em;
    color: black;
    resize: none;
    width: 55em;
    height: 10em;
}
.title{
    color: black;
    font-size: 1em;
}
h3{
    color: black;
}