* {
    margin: 0;
    padding: 0;
}

.mojaForma {
    background-color: white;

}

.containera {
    margin-top: -42em;
    background-color: white;
}

.myLine {
    border: 1px solid #f1f1f1;
    margin-bottom: 1em;
    margin-left: 23%;
    width: 28.3em;
}

.myimput {
    width: 50%;
    color: black;
    padding: 1.5em;
    margin: 2em 0 2em 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.myimput:focus {
    background-color: #ddd;
    outline: none;
}

.registerbtn {
    background-color: #1876f2;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.bold {
    color: black;
    display: flex;
    margin-left: 23%;
}

.myProfileNaslov {
    color: black;
}

.left-sidebar {
    flex-basis: 15%;
    position: flex;
    top: 16em;
    align-self: flex-start;
}

.imp-links a,
.shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 2.3em;
    color: #626262;
    width: fit-content;
}

.imp-links a img {
    width: 2em;
    margin-right: 1em;
}

.imp-links {
    border-bottom: 1px solid #ccc;
    width: 20em;
}

.shortcut-links a img {
    width: 4em;
    border-radius: 1em;
    margin-right: 1.5em;
}

.shortcut-links p {
    margin: 1.8em 0;
    color: #626262;
    font-weight: 500;
}

.main-content2 {
    flex-basis: 51%;
    margin-top: 4em;
}

.write-post-container2 {
    text-align: center;
    width: 96%;
    background: #fff;
    border-radius: 1em;
    padding: 20px;
    color: #626262;
}